<% include ../partials/header %>
<% include ../partials/articles/header-index-end.ejs %>
<% include ../partials/navbar-main.ejs %>

<section class="bg-off-white text-dark-grey">
    <div class="container container-slim px-0">
        <div class="row pt-10 px-10">
            <div class="col-9 py-0 pl-0 pr-1">
                <form action="/articles/new" method="POST">
                    <input type="text" class="form-control input-focus bg-light-grey text-dark-grey border-none text-sm mr-10" name="article[title]" placeholder="Have an idea? Save it here!">
                    <input type="text" name="redirect" value="no-redirect" class="d-none">
                    <input type="submit" class="d-none">
                </form>
            </div>
            <div class="col-3 pl-0">
                <div class="row d-flex ml-3">
                    <div class="col-2 mr-0 bg-light-grey d-flex">
                        <i class="fas fa-search align-self-center"></i>
                    </div>
                    <div class="col-8 px-0 bg-light-grey mr-3">
                        <form action="">
                            <input type="text" class="form-control input-focus bg-light-grey text-dark-grey border-none text-sm" placeholder="Search">
                            <input type="submit" class="d-none">
                        </form>
                    </div>
                    <div class="col-2-px-0 bg-off-white d-flex justify-self-end">
                        <i class="fas fa-bars text-dark-grey align-self-center i-md"></i>
                    </div>
                </div>
            </div>
        </div>

        <!-- article starter row -->
        <div class="row pb-10 justify-content-center article-starter-row scrollable">
            <!-- new article card col -->
            <div class="d-sm-flex col-12 col-sm-6 col-md-4 col-xl-3 px-0">
                <div class="stretchy-wrapper ar-4-3">
                    <div class="card i-xl bg-white article-starter-card border-none mx-10 my-10">
                        <a id="newArticleButton" class="linky-card d-flex align-items-center justify-content-center"href="#">
                            <div class="text-teal text-center p-2 pb-4">
                                +
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- article-starters -->
            <% unupdatedArticles.forEach(function(article){ %>
            <div class="d-none d-sm-flex col-sm-6 col-md-4 col-xl-3 px-0">
                <div class="stretchy-wrapper ar-4-3">
                    <div class="card bg-white article-starter-card border-none mx-10 my-10">
                        <a class="linky-card d-flex align-items-center justify-content-center"href="/articles/<%= article._id %>"</a>
                            <div class="text-dark-grey text-center p-2">
                                <i>"<%= article.title %>"</i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
    </div>
</section>

<section class="bg-dark-grey">
    <div class="container container-slim px-0">
        <div class="row pt-10 px-10">
            <div class="col-9 pl-1">
                Recent articles
            </div>
            <div class="col-3 pl-0 pr-1">
                <div class="d-flex justify-content-end align-items-center">
                    <span>Owned by anyone</span>
                    <i class="fas fa-chevron-down i-sm pl-1"></i>
                    <i class="fas fa-sort i-sm pl-3 pr-0"></i>
                </div>
            </div>
        </div>
        <!-- existing article cards -->
        <div class="row pb-10 justify-content-center">
            <% updatedArticles.forEach(function(article){ %>
                <div class="col-12 col-sm-6 col-md-4 col-xl-3 px-0">
                    <div class="stretchy-wrapper ar-1-1">
                        <div class="card bg-white article-in-progress-card mx-10 my-10">
                            <a class="linky-card text-dark-grey" href="/articles/<%= article._id %>">
                                <div class="stretchy-wrapper ar-3-2">
                                        <div class="img" style="background-image: url('<%= article.backgroundImageUrl %>')">
                                    </div>
                                </div>
                                <!-- <div class="card-body"> -->
                                    <div class="card-subtitle px-10 py-10">
                                        <p class="mb-0">
                                            <%= article.title %>
                                        </p>
                                        <small class="text-muted">
                                            <i class="fas fa-paper-plane"></i> 
                                             Opened 
                                            <% if(moment(article.lastUpdatedDateTime) > moment().startOf('hour')){ %>
                                                <%= moment().startOf('hour').fromNow() %>
                                            <% } else if(moment(article.lastUpdatedDateTime) > moment().startOf('day')) { %>
                                                <%= moment().startOf('day').fromNow() %>
                                            <% } else if(moment(article.lastUpdatedDateTime) > moment().startOf('week')){ %>
                                                <%= moment().startOf('week').fromNow() %>
                                            <% } else { %>
                                                <%= moment(article.lastUpdatedDateTime).format('h:mma MMM D, YYYY') %>
                                            <% } %>
                                            
                                        </small>
                                    </div>
                                <!-- </div> -->
                            </a>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</section>

<% include ../partials/cdns %>

<script src="js/moment-with-locales.js"></script>
<script src="js/articles/index/index.js"></script>

<% include ../partials/footer %>